body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.sidebar h2 {
    text-align: center;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.content section {
    margin-bottom: 40px;
}

.content h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.profile-image {
    max-width: 100%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
}

.academic-image {
    max-width: 100%;
    height: 100%;
    width: 35%;
    border-radius: 95%;
    display: block;
    margin: 0 auto 20px auto;
}

.contact-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contact-details {
    flex: 1;
}
.contact-details ul {
    list-style-type: none;
    padding: 0;
}
.contact-details ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.contact-details ul li i {
    margin-right: 10px;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #575757;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

h5 {
    border-bottom: 1px solid black;
    display: inline-block;
}

/* Media Queries to make the page responsive*/
@media (min-width: 600px) {
    body {
        flex-direction: row;
    }

    .content {
        flex: 1;
        padding: 20px;
    }
}
